[submodule "external/LearnOpenGL"]
	path = external/LearnOpenGL
	url = https://github.com/JoeyDeVries/LearnOpenGL.git
[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/inih"]
	path = external/inih
	url = https://github.com/jtilly/inih.git
